[Unit]
Description=Bitcoind

[Service]
WorkingDirectory=/root
ExecStart=/usr/bin/bitcoind --server=1 --zmqpubrawblock=tcp://127.0.0.1:28332  --zmqpubrawtx=tcp://127.0.0.1:28333
Restart=always

[Install]
WantedBy=multi-user.target
